<% if @projects.empty? %>
  No projects
<% else %>
  <ul class="projects" rel="projects" style="width: <%= @projects.count * 160 %>px;">
  <% @projects.each do |project| %>
    <% if project.order_index != nil %>
      <li class="project">
        <% if project.video_id != nil %>
          <a class="vimeo" href="http://player.vimeo.com/video/<%= project.video_id %>?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitAllowFullScreen allowFullScreen title="<%= project.description %>">
            <div class="title">
              <span><%= project.title %></span>
              <div class="arrow"></div>
            </div>
            <%= image_tag "/assets/project/#{project.title.downcase.gsub(/\s/, '')}/thumb.png" %>
          </a>
        <% else %>
          <a class="project" href="assets/project/<%= project.title.downcase.gsub(/\s/, '') %>/full.png" title="<%= project.title %>">
            <div class="title">
              <span><%= project.title %></span>
              <div class="arrow"></div>
            </div>
            <%= image_tag "/assets/project/#{project.title.downcase.gsub(/\s/, '')}/thumb.png" %>
          </a>
        <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>