<% if @projects.empty? %>
  No projects
<% else %>
  <ul class="projects" rel="projects" style="width: <%= @projects.count * 160 %>px;">
  <% @projects.each do |project| %>
    <li class="project">
        <a class="project" href="assets/project/<%= project.title.downcase.gsub(/\s/, '') %>/full.png" title="<%= project.description %>">
        <div class="title">
          <span><%= project.title %></span>
          <div class="arrow"></div>
        </div>
        <%= image_tag "/assets/project/#{project.title.downcase.gsub(/\s/, '')}/thumb.png" %>
        </a>
    </li>
    </a>
  <% end %>
  </ul>
<% end %>