<% if @projects.empty? %>
  No projects
<% else %>
  <ul class="projects" style="width: <%= @projects.count * 160 %>px;">
  <% @projects.each do |project| %>
    <li class="project-wrapper">
        <a class="project-link" href="assets/project/<%= project.title %>/full.jpg" title="<%= project.description %>">
        <%= project.title %>
        <%= project.order_index %>
        <%= image_tag "assets/project/#{project.title}/thumb.jpg" %>
        </a>
    </li>
    </a>
  <% end %>
  </ul>
<% end %>